@media (max-width: 768px) {

    header {
      max-width: 100%;
      height: auto; 
      justify-content:left;
      position: static;
    }



    .filoso {
      max-width: 100%;
      height: auto;
    }
    .car {
      max-width: 100%;
      height: auto;
    }
    .men {
      max-width: 100%;
      height: auto;
    }
    .mb-3,
    .sidebar__form,
    .sidebar__item {
      max-width: 100%;
      height: auto;
    }
    .vide iframe {
      max-width: 100%;
      height: auto;
    }
    .log {
      max-width: 100%;
      height: auto;
    }
    .nave {
      font-size: medium;
      justify-content: center;
      position: static;
    }
  
    .aprivacidad, .aprivacidad h1, .aprivacidad p
    {
      font-size: large;
      justify-content: center;
      position: static;
      
    }
  
    .header__nav
    {
      font-size:large;
      justify-content: center;
      position: static;
    }
  
    h1, h2, h3
    {
      font-size: large;
      justify-content: center;
      position: static;
      font-weight: bold;
    }
  
  
  }