/* Media queries para pantallas medianas */
@media (max-width: 768px) {
    .content {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navba
    {
      font-size:small;
      justify-content: left;
      position: static;
    }

    .action-container, .image-container {
      flex: 1 1 100%;
    }
  

    
  }
  
 