/* Media queries para pantallas medianas */
@media (max-width: 768px) {

      .container-fluid {
        flex-direction: row;
        align-items: flex-start;
      }
    
      .navba-nav {
        width: 100%;
        justify-content: space-between;
      }
    

      .action-container, .image-container {
        flex: 1 1 100%; /* Asegura que cada elemento ocupe el ancho completo del contenedor en pantallas pequeñas */
      }
    }



    
